.map_series_container {
	position: fixed;
	top: 18px;
	right: 10px;
	width: 340px;
	display: flex;
	opacity: 0;
	transition: opacity 0.5s;
	flex-direction: column;
	font-size: 13px;
	.veto_container {
		display: flex;
		background-color: var(--main-panel-color);
		position: relative;
		color: white;
		align-items: center;
		bottom: 2px;
		position: relative;
        height: 40px;
        &.active {
            .veto_winner {
                display: none;
            }
            .veto_score {
                display: none;
            }
        }
		.veto_map_name {
			width: 116px;
			text-transform: uppercase;
			color: whitesmoke;
			background-size: 10px;
			height: 100%;
			display: flex;
			font-weight: 700;
			align-items: center;
			justify-content: center;
			font-size: 16px;
			position: relative;
			text-shadow: 1px 12px 24px black, 0 0 1em whitesmoke, 0 0 0.2em black;
		}
		div {
			img {
				max-height: 35px;
				max-width: 35px;
			}
		}
		.veto_picker {
			width: 77px;
			text-align: center;
		}
		.veto_winner {
			width: 77px;
			text-align: center;
		}
		.active_container {
			width: 154px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.active {
				border: solid 2px white;
				background-color: var(--sub-panel-color);
				border-radius: 6px;
				position: absolute;
				color: white;
				width: 67px;
				left: 260px;
				height: 25px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		&:not(.active) {
			.active_container {
				display: none;
			}
		}
		.veto_score {
			width: 77px;
			text-align: center;
			font-size: 14px;
		}
		.logo {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.title_bar {
		display: flex;
		background-color: var(--sub-panel-color);
		position: relative;
		height: 25px;
		color: white;
		font-size: 13px;
		font-weight: 600;
		margin-bottom: 2px;
		border-radius: 6px 6px 0 0;
		div {
			width: 77px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.picked {
			margin-left: auto;
		}
    }
    &.show {
        opacity: 1;
    }
}

#timeout {
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 131px;
	background-color: var(--main-panel-color);
	color: white;
	width: 420px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	font-size: 35px;
	transition: opacity 1.5s;
	opacity: 0;
	text-shadow: 1px 1px 2px black, 0 0 1em whitesmoke, 0 0 0.2em white;
}
#pause {
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 131px;
	border-radius: 0 0 8px 8px;
	background-color: var(--main-panel-color);
	width: 420px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	font-size: 35px;
	transition: opacity 1.5s;
	opacity: 0;
	color: whitesmoke;
	text-shadow: 1px 1px 2px black, 0 0 1em whitesmoke, 0 0 0.2em white;
}
#timeout.show, #pause.show {
	opacity: 1;
}
.timeout.T {
	color: var(--color-new-t);
}
.timeout.CT {
	color: var(--color-new-ct);
}



.touch {
	position: relative;
	left: 137px;
	bottom: 1px;
}
.winmap1 {
	position: relative;
	left: 83px;
	bottom: 1px;
}
.score1 {
	position: relative;
	left: 55px;
	bottom: 1px;
}




.map_series_container .veto_container.de_inferno.active {
	background-image: url("../.././assets/veto/de_inferno.jpg");
}
.map_series_container .veto_container.de_dust2.active {
	background-image: url("../.././assets/veto/de_dust2.jpg");
}
.map_series_container .veto_container.de_overpass.active {
	background-image: url("../.././assets/veto/de_overpass.jpg");
}
.map_series_container .veto_container.de_nuke.active {
	background-image: url("../.././assets/veto/de_nuke.jpg");
}
.map_series_container .veto_container.de_mirage.active {
	background-image: url("../.././assets/veto/de_mirage.jpg");
}
.map_series_container .veto_container.de_vertigo.active {
	background-image: url("../.././assets/veto/de_vertigo.jpg");
}
.map_series_container .veto_container.de_ancient.active {
	background-image: url("../.././assets/veto/de_ancient.jpg");
}
.map_series_container .veto_container.de_inferno {
	background-image: url("../.././assets/veto/de_inferno_gray.jpg");
}
.map_series_container .veto_container.de_dust2 {
	background-image: url("../.././assets/veto/de_dust2_gray.jpg");
}
.map_series_container .veto_container.de_overpass {
	background-image: url("../.././assets/veto/de_overpass_gray.jpg");
}
.map_series_container .veto_container.de_nuke {
	background-image: url("../.././assets/veto/de_nuke_gray.jpg");
}
.map_series_container .veto_container.de_mirage {
	background-image: url("../.././assets/veto/de_mirage_gray.jpg");
}
.map_series_container .veto_container.de_vertigo {
	background-image: url("../.././assets/veto/de_vertigo_gray.jpg");
}
.map_series_container .veto_container.de_ancient {
	background-image: url("../.././assets/veto/de_ancient_gray.jpg");
}
