
.teambox {
    position: fixed;
    bottom: 135px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.75s;
    font-family: bignoodletitling;
    &.CT {
        .player .hp_bar {
            background-color: var(--color-new-ct);
        }
    }
    &.T {
        .player .hp_bar {
            background-color: var(--color-new-t);
        }
    }
    &.hide {
        opacity: 0;
    }



    &.left {
        left: 135px;
        .player {
            .player_data {
                flex-direction: row;
            }
            .avatar {
                position: relative;
                left: 30px;
            }
            .username {
                position: relative;
                left: 50px;
            }
            .KDADRleft {
                left: 275px;
                position: absolute;
                .kill {
                    position: absolute;
                    left: 100px;
                }
                .dead {
                    position: absolute;
                    left: 230px;
                }
                .adr {
                    position: absolute;
                    left: 350px;
                }
            }
            .KDADRright {
                display: none;
            }
            .statt {
                left: 150px;
                position: absolute;
                .stat-kill {
                    position: absolute;
                    left: 235px;
                    font-weight: 900;
                }
                .stat-dead {
                    left: 370px;
                    position: relative;
                }
                .stat-adr {
                    left: 483px;
                }
            }
        }
    }



    &.right {
        right: 135px;
        .player {
            flex-direction: row-reverse;
            .player_data {
                flex-direction: row-reverse;
            }
            .avatar {
                position: relative;
                right: 540px;
            }
            .username {
                position: relative;
                left: 200px;
            }
            .KDADRright {
                right: 435px;
                position: absolute;
                .kill {
                    position: absolute;
                    left: 100px;
                }
                .dead {
                    position: absolute;
                    left: 230px;
                }
                .adr {
                    position: absolute;
                    left: 350px;
                }
            }
            .KDADRleft {
                display: none;
            }
            .statt {
                left: 150px;
                position: absolute;
                .stat-kill {
                    position: absolute;
                    left: 235px;
                    font-weight: 900;
                }
                .stat-dead {
                    left: 370px;
                    position: relative;
                }
                .stat-adr {
                    left: 483px;
                }
            }
        }
    }  







    .player {
        width: 710px;
        height: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &:nth-child(1) .player_data {
            background-color: rgba(255,255,255, 0.2);
        }
        &:nth-child(3) .player_data {
            background-color: rgba(255,255,255, 0.2);
        }
        &:nth-child(5) .player_data {
            background-color: rgba(255,255,255, 0.2);
        }
        

        .player_data {
            width: 710px;
            display: flex;
            flex-direction: row;
            position: relative;
            height: 100%;
            .avatar {
                width: 130px;
                display: flex;
                align-items: center;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }
                img {
                    border-radius: 0px;
                    zoom: 250%;
                    height: 71px;
                    width: 81px;
                    position: relative;
                    z-index: 1;
                    top: 30px;
                }
            }
            .player_stats {
                display: flex;
                flex-direction: column;
                flex: 1;
                min-width: 0;
            }
            .username {
                flex: 1;
                display: flex;
                align-items: center;
                z-index: 1;
                color: white;
                font-weight: 600;
                max-width: calc(100% - 49px);
                justify-content: space-between;
                overflow: hidden;
                font-size: 28px;
                text-overflow: ellipsis;
                white-space: nowrap;
                position: relative;
                top: 3px;
                letter-spacing: 2px;
            }
            .KDADR {
                color: var(--white-full);
                position: absolute;
                font-size: 26px;
                bottom: 590px;
            }
            .statt {
                color: var(--white-full);
                bottom: 34px;
                right: 200px;
                .value {
                    font-size: 32px;
                }
                .stat-adr {
                    position: absolute;
                    bottom: 0;
                }
            }
    }
}

.teambox.T.left .player {
    border-left: solid 10px var(--color-new-t);
}
.teambox.T.right .player {
    border-right: solid 10px var(--color-new-t);
}


.teambox.CT.left .player {
    border-left: solid 10px var(--color-new-ct);
}
.teambox.CT.right .player {
    border-right: solid 10px var(--color-new-ct);
}

