#radar_maps_container {
	position: fixed;
	top: 10px;
	left: 10px;
	border: none;
	transition: all 1s;
	font-family: "bignoodletitling";
	.map-container {
		transition: all 1s;
	}
}
#iframe_radar {
	border: none;
}
#radar_maps_container.hide {
	opacity: 0;
}
#radar_maps_container.preview {
	transform: rotate3d(1, 0, 0, 14deg) translateX(-50%);
    transform-style: preserve-3d;
    left: 50%;
    top: 100px;
	.map {
		perspective: 500px;
	}
}
.radar-component-container {
	width: 350px;
	height:350px;
	overflow: hidden;
	position: relative;
	top: 40px;
	background-color: rgba(0,0,0, 0.1);
}
#maps_container {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
    background-color: var(--main-panel-color);
	bottom: 340px;
	position: relative;
	.bestof {
		display: flex;
		justify-content: center;
	}
}
.veto_entry {
	display: flex;
	justify-content: center;
	letter-spacing: .1em;
	position: relative;
	font-family: Titillium;
	>div {
		display: flex;
		justify-content: center;
		align-items: center;
		color: whitesmoke;
		text-transform: uppercase;
		font-size: 13pt;
	}
	.map_name.active {
		color: 	white;
		font-weight: 800;
	}
	.map_name:not(.active) {
		color: rgb(159, 159, 159);
	}
	.map_name {
		font-size: 12px;
		font-weight: 700;
		letter-spacing: .1em;
	}
}


/*.bestof {
width: 100%;
position: relative;
right: 120px;
font-size: 18px;
top: 1px;
height: 30px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
color: #fff;
font-family: Titillium;
}*/

.bestof {	
	width: 121px;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
	font-family: Titillium;
}