@keyframes ShowWinCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 50px;
	}
	95% {
		opacity: 1;
		height: 50px;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}
#matchbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	width: 1652px;
	height: 120px;
	top: 137px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "bignoodletitling";
	background-color: rgba(255,255,255, 0.2);
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
	.team {
		width: 426px;
		display: flex;
		align-items: center;
		.logo {
			display: flex;
			flex-direction: row;
			width: 135px;
			height: 79px;
			top: 3px;
			align-items: center;
			overflow: hidden;
			img {
				max-width: 95%;
				max-height: 95%;
			}
        }
        &.left {
            justify-content: center;
            flex-direction: row-reverse;
			right: 290px;
			position: relative;
            .logo {
				position: relative;
				justify-content: center;
				left: 40px;
            }
			.team-name {
				position: relative;
				left: 100px;
			}
        }
        &.right {
            justify-content: center;
            flex-direction: row;
			left: 290px;
			position: relative;
            .logo {
				position: relative;
				justify-content: center;
				right: 40px;
            }
			.team-name {
				position: relative;
				right: 100px;
			}
        }
	}
	.team-name {
		display: flex;
		width: 360px;
		height: 79px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 44px;
		top: 3px;
		position: relative;
		color: var(--white-full);
	}
	.score {
		display: flex;
		flex-direction: row;
		width: 100px;
		height: 79px;
		top: 20px;
		position: relative;
		align-items: center;
		justify-content: center;
		font-weight: 800;
		font-size: 56px;
		color: var(--white-full);
		.score- {
			position: absolute;
			font-size: 50pt;
			left: 91px;
			color: var(--white-full);
		}
	}
	.border {
		border: solid 2px var(--white-full);
		width: 200px;
		height: 60px;
		top: 30px;
		position: absolute;
		background-color: rgba(255,255,255, 0.2);
	}
}


#matchbar .team.left.T {
	border-left: solid 15px var(--color-new-t);
}
#matchbar .team.right.T {
	border-right: solid 15px var(--color-new-t);
}


#matchbar .team.left.CT {
	border-left: solid 15px var(--color-new-ct);
}
#matchbar .team.right.CT {
	border-right: solid 15px var(--color-new-ct);
}


