@keyframes ShowWinCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 50px;
	}
	95% {
		opacity: 1;
		height: 50px;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}
#matchbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	width: 1148px;
	height: 70px;
	top: 37px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "bignoodletitling";
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
	#timer {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 126px;
		height: 79px;
		bottom: 1px;
		background-color: var(--main-panel-color);
        &.no-bo {
            height: 87px;
        }
	}
	#round_timer_text {
		display: flex;
		width: 100%;
		height: 55px;
		justify-content: center;
		font-size: 46px;
		top: 13px;
		position: relative;
		font-weight: bold;
		z-index: 1;
		color: var(--white-full);
        align-items: flex-end;
        &.hide {
            display: none;
        }
	}
	#bomb_container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		width: 200%;
		left: -60px;
		height: 70px;
		z-index: 0;
		.bomb_timer {
			width: 100%;
			top: 0;
			height: 20px;
            background-color: var(--color-bomb);
			top: 29px;
			position: relative;
            &.hide {
                display: none;
            }
		}
		.planted {
			color: white;
			background-color: var(--main-panel-color);
			position: absolute;
			top: 99px;
			width: 220px;
			left: 3px;
			text-align: center;
			border-bottom: 5px;
		}
		.bomb_icon {
			position: absolute;
			width: 100%;
			height: 100%;
			svg {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 6px;
				max-height: 80%;
				max-width: 80%;
            }
            &.hide {
                display: none;
            }
		}
	}
	#round_now {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 7px;
		text-align: justify;
		position: relative;
		top: 8px;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		font-weight: bold;
		z-index: 1;
        color: var(--white-full);
        &.hide {
            display: none;
        }
	}
	.team {
		width: 426px;
		display: flex;
		align-items: center;
		.logo {
			display: flex;
			flex-direction: row;
			width: 135px;
			height: 79px;
			top: 3px;
			align-items: center;
			overflow: hidden;
			background-color: var(--main-panel-color);
			img {
				max-width: 90%;
				max-height: 75%;
			}
        }
        &.left {
            justify-content: center;
            flex-direction: row-reverse;
            .logo {
				position: relative;
				justify-content: center;
            }
        }
        &.right {
            justify-content: center;
            flex-direction: row;
            .logo {
				position: relative;
				justify-content: center;
            }
        }
	}
	.team-name {
		display: flex;
		width: 360px;
		height: 79px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 36px;
		top: 3px;
		position: relative;
		background-color: var(--main-panel-color);
	}
	.score {
		display: flex;
		flex-direction: row;
		width: 100px;
		height: 79px;
		bottom: 1px;
		position: relative;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 46px;
		background-color: var(--main-panel-color);
	}
}
.win_text {
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 110px;  // 78px;
	background-color: var(--sub-panel-color);
	width: 0;
	height: 360px;
	opacity: 0;
	font-size: 50px;
	transition: width 0.4s ease-in-out;
	color: #fff;
	font-weight: bold;
	text-shadow: -3px 7px 30px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 30px;
	.winnerLogo {
		position: absolute;
		top: 40px;
		img {
			height: 160px;
		}
	}
	.teamName {
		color: #fff !important;
		font-size: 40px;
		top: 100px;
		position: relative;
	}
  
	span {
		&:nth-of-type(2) {
		  font-weight: 650;
		  font-size: 30px;
		  //opacity: 0.6;
		  top: 320px;
		  position: absolute;
		  border-top: solid 2px white;
		  width: 410px;
		  height: 40px;
		  background-color: var(--main-panel-color);
		  color: var(--white-full);
		}
	  }
  
	&.show {
	  width: 350px;
	  opacity: 1;
	  transition: width 0.4s ease-in-out, box-shadow 0.4s 0.4s ease-in-out;
	}
  
	&.T {
		color: var(--color-new-t) !important;
		  box-shadow: var(--color-new-t) 0px 0px 0 0;
	  
		  &.show {
			box-shadow: var(--color-light-t) 15px 15px 0 0;
		  }
		}
	  
		&.CT {
			color: var(--color-new-ct) !important; 
		  box-shadow: var(--color-new-ct) 0px 0px 0 0;
	  
		  &.show {
			box-shadow: var(--color-light-ct) 15px 15px 0 0;
		  }
		}
  }


.defuse_plant_container {
	position: fixed;
	display: flex;
	opacity: 1;
	width: 503px;
	height: 49px;
	top: 78px;
	align-items: center;
	color: white;
    justify-content: center;
	background-color: rgba(0,0,0,0.65);
    .defuse_plant_bar {
		height: 49px;
		background-color: #828181;
		position: absolute;
		width: 0%;
    }
    .defuse_plant_caption {
		z-index: 1;
		display: flex;
		text-transform: uppercase;
		align-items: flex-end;
		svg {
			position: absolute;
			top: 12px;
			right: 240px;
		}
    }
    &.planting {
        //background-image: url(../../assets/PlantDefuse/Plant.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80px;
		width: 350px;
        .defuse_plant_bar {
            left: 0;
        }
    }
    &.defusing {
        //background-image: url(../../assets/PlantDefuse/Defuse.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 400px;
        .defuse_plant_bar {
            right: 0;
        }
    }
    &.hide {
        opacity: 0;
    }
}
#encapsulator {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	top: 44px;
	width: 275px;
	height: 100px;
	left: 50%;
	transform: translateX(-50%);
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
}


.container {
	display: flex;
	flex-direction: row;
	width:280px;
	height: 10px;
}
.container.left {
	justify-content: flex-start;
}
.container.right {
	justify-content: flex-end;
}
.wins_box_container {
	display: flex;
	flex-direction: row;
	width: 80px;
	height: 100%;
	align-items: flex-start;
	justify-content: right;
}
.series_wins.left {
	.wins_box_container {
		flex-direction: row-reverse;
		justify-content: left;
	}
}
.series_wins.right {
	.wins_box_container {
		flex-direction: row-reverse;
		justify-content: left;
	}
}
.wins_box {
	width: 28px;
	height: 8px;
	margin-left: 3px;
	margin-right: 3px;
	box-sizing: border-box;
}
.wins_box.CT {
	background-color: rgba(100, 97, 97, 0.8);
}
.wins_box.CT.win {
	background-color: var(--color-new-ct);
}
.wins_box.T {
	background-color: rgba(100, 97, 97, 0.8);
}
.wins_box.T.win {
	background-color: var(--color-new-t);
}

