@keyframes ShowWinCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 50px;
	}
	95% {
		opacity: 1;
		height: 50px;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}
#matchbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	width: 1148px;
	height: 70px;
	top: 42px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "bignoodletitling";
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
	#timer {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 126px;
		height: 80px;
	}
	#round_timer_text {
		display: flex;
		width: 100%;
		height: 55px;
		justify-content: center;
		font-size: 38px;
		top: 12px;
		position: relative;
		font-weight: bold;
		z-index: 1;
		color: var(--white-full);
        align-items: flex-end;
        &.hide {
            display: none;
        }
	}

	#bomb_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		width: 384%;
		left: -82px;
		height: 70px;
		z-index: 0;
		.bomb_timer {
			width: 95%;
			right: 80px;
			height: 19px;
            background-color: var(--color-bomb);
			top: 91px;
			z-index: 1;
			position: relative;
			justify-content: flex-end;
            &.hide {
                display: none;
            }
		}
		.bomb_timer_bg {
			width: 100%;
			right: 80.5px;
			height: 20px;
            background-color: rgba(0, 0, 0, 0.7);
			top: 71px;
			position: relative;
            &.hide {
                display: none;
            }
		}
		.planted {
			color: white;
			background-color: var(--main-panel-color);
			position: absolute;
			top: 110px;
			width: 440px;
			height: 20px;
			right: 80px;
			text-align: center;
			border-bottom: 5px;
			font-size: 18px;
		}
		.bomb_icon {
			position: absolute;
			width: 100%;
			height: 100%;
			svg {
				position: relative;
				left: 34%;
				transform: translateX(-50%);
				top: 16px;
				max-height: 80%;
				max-width: 80%;
            }
            &.hide {
                display: none;
            }
		}
	}
	#round_now {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 7px;
		text-align: justify;
		position: relative;
		top: 18px;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		font-weight: bold;
		z-index: 1;
        color: var(--white-full);
        &.hide {
            display: none;
        }
	}
	.matchbar-bg {
		//background-color: var(--main-panel-color);
		background-image: url(../../assets/bgMatchbar.png);
		width: 440px;
		height: 90px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
	}
	.team {
		width: 426px;
		display: flex;
		align-items: center;
		margin-top: 20px;
		.logo {
			display: flex;
			flex-direction: row;
			width: 90px;
			height: 70px;
			align-items: center;
			overflow: hidden;
			img {
				max-width: 50px;
				max-height: 50px;
			}
        }
        &.left {
            justify-content: center;
            flex-direction: row-reverse;
            .logo {
				position: relative;
				justify-content: center;
				margin-left: 15px;
            }
        }
        &.right {
            flex-direction: row;
			justify-content: center;
            .logo {
				justify-content: flex-start;
				margin-left: 15px;
            }
	  }
	}
	.team-name {
		display: flex;
		width: 360px;
		height: 39px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 30px;
		position: relative;
		color: var(--white-full);
		text-shadow: 0 0 20px rgb(0 0 0 / 70%);
		letter-spacing: 2px;
	}
	.score {
		display: flex;
		flex-direction: row;
		width: 100px;
		top: 15px;
		position: relative;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 40px;
		color: var(--white-full);
	}
}
.win_text {
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 160px;  // 78px;
	background-color: var(--sub-panel-color);
	width: 0;
	height: 360px;
	opacity: 0;
	font-size: 50px;
	transition: width 0.4s ease-in-out;
	color: #fff;
	font-weight: bold;
	text-shadow: -3px 7px 30px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 30px;
	.winnerLogo {
		position: absolute;
		top: 50px;
		img {
			height: 160px;
		}
	}
	.teamName {
		color: #fff !important;
		font-size: 40px;
		top: 100px;
		position: relative;
	}
  
	span {
		&:nth-of-type(2) {
		  font-weight: 650;
		  font-size: 30px;
		  //opacity: 0.6;
		  top: 320px;
		  position: absolute;
		  border-top: solid 2px white;
		  width: 410px;
		  height: 40px;
		  background-color: var(--main-panel-color);
		  color: var(--white-full);
		}
	  }
  
	&.show {
	  width: 350px;
	  opacity: 1;
	  transition: width 0.4s ease-in-out, box-shadow 0.4s 0.4s ease-in-out;
	}
  
	&.T {
		color: var(--color-new-t) !important;
		  box-shadow: var(--color-new-t) 0px 0px 0 0;
	  
		  &.show {
			box-shadow: var(--color-light-t) 15px 15px 0 0;
		  }
		}
	  
		&.CT {
			color: var(--color-new-ct) !important; 
		  box-shadow: var(--color-new-ct) 0px 0px 0 0;
	  
		  &.show {
			box-shadow: var(--color-light-ct) 15px 15px 0 0;
		  }
		}
  }


  .defuse_plant_container {
	position: fixed;
	color: white;
	top: 130px;
	padding: 100px;
	font-size: 30px;
	text-align: center;
	.defuse_plant_bar {
		height: 49px;
		position: absolute;
		width: 0%;
	}
	.defuse_plant_caption {
		z-index: 1;
		display: flex;
		text-transform: uppercase;
		align-items: flex-end;
		background-color: rgba(0, 0, 0, 0.4);
		svg {
			margin-right: 13px;
		}
    }
    &.planting {
		background-image: url(../../assets/PlantDefuse/Plant.gif);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 400px;
        .defuse_plant_bar {
            left: 0;
        }
    }
	&.defusing {
		background-image: url(../../assets/PlantDefuse/Defuse.gif);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 400px;
        .defuse_plant_bar {
            right: 0;
        }
    }
    &.hide {
        opacity: 0;
    }
}
#encapsulator {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    top: 58px;
    width: 300px;
    height: 8px;
    left: 50%;
    transform: translateX(-50%);
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
	.W {
		color: var(--white-full);
	}
}



.container {
    flex-direction: row;
    width: 100px;
}
.container.left {
	justify-content: flex-start;
	position: relative;
	right: 58px;
}
.container.right {
	justify-content: flex-end;
	position: relative;
	left: 45px;
}
.wins_box_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
}

.series_wins {
display: flex;
flex-direction: row;
width: 100%;
height: 100%;
z-index: 1;
padding-left: 6px;
padding-right: 6px;
top: -30px;
transition: top 0.5s;
}
.series_wins.left {
	flex-direction: row-reverse;
	.wins_box_container {
		flex-direction: row-reverse;
		/*justify-content: left;
		margin-left: -40px;
		align-items: center;*/
	}
}
.wins_box {
    width: 20px;
    height: 8px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    box-sizing: border-box;
}
.wins_box.CT {
	background-color: rgba(100, 97, 97, 0.8);
}
.wins_box.CT.win {
	background-color: var(--color-new-ct);
}
.wins_box.T {
	background-color: rgba(100, 97, 97, 0.8);
}
.wins_box.T.win {
	background-color: var(--color-new-t);
}




/*
#matchbar .team.left.T .team-name {
	border-left: solid 25px var(--color-new-t);
}
#matchbar .team.right.T .team-name {
	border-right: solid 25px var(--color-new-t);
}


#matchbar .team.left.CT .team-name {
	border-left: solid 25px var(--color-new-ct);
}
#matchbar .team.right.CT .team-name {
	border-right: solid 25px var(--color-new-ct);
}*/

#matchbar .team.left .team-name {
	justify-content: flex-end;
}
#matchbar .team.right .team-name {
	justify-content: flex-start;
}