@keyframes ShowWinCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 50px;
	}
	95% {
		opacity: 1;
		height: 50px;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}
#matchbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	width: 1148px;
	height: 70px;
	top: 27px;
	left: 50%;
	transform: translateX(-50%);
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
	.W {
		color: var(--white-full);
		background-color: rgba(0, 0, 0, 0.3);
	}
	#timer {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 126px;
		height: 98px;
		background-color: rgba(0,14,37,0.7);
        &.no-bo {
            height: 87px;
        }
	}
	#bomb_container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		left: 5px;
		width: 120px;
		bottom: 27px;
		height:  70px;
		z-index: 0;
		.bomb_timer {
			width: 100%;
			top: 0;
			height: 0;
            background-color: #E56158;			
            &.hide {
                display: none;
            }
		}
		.bomb_icon {
			position: absolute;
			width: 100%;
			height: 100%;
			svg {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 6px;
				max-height: 80%;
				max-width: 80%;
            }
            &.hide {
                display: none;
            }
		}
	}
	#round_timer_text {
		display: flex;
		width: 100%;
		height: 55px;
		justify-content: center;
		font-size: 40px;
		bottom: 10px;
		position: relative;
		font-weight: bold;
		z-index: 1;
		color: var(--white-full);
        align-items: flex-end;
        &.hide {
            display: none;
        }
	}
	#round_now {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 7px;
		text-align: justify;
		position: relative;
		top: 55px;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: bold;
		z-index: 1;
        color: var(--white-full);
        &.hide {
            display: none;
        }
	}
	#site {
		position: relative;
		color: white;
		top: 5px;
		text-transform: capitalize;
		font-size: 50px;
		font-weight: bold;
		text-align: center;
		align-items: center;
		justify-content: center;
		z-index: 2;
		&.hide {
            display: none;
        }
	}
	.team {
		width: 426px;
		display: flex;
		align-items: center;
		.logo {
			display: flex;
			flex-direction: row;
			width: 105px;
			height: 70px;
			align-items: center;
			overflow: hidden;
			img {
				max-width: 90%;
				max-height: 75%;
			}
        }
        &.left {
            justify-content: center;
            flex-direction: row-reverse;
            .logo {
				position: relative;
				justify-content: center;
				border-radius: 0 0 0 12px ;
				background-color: rgba(29,63,99, 0.9);
            }
        }
        &.right {
            justify-content: center;
            flex-direction: row;
            .logo {
				position: relative;
				justify-content: center;
				border-radius: 0 0 12px 0;
				background-color: rgba(29,63,99, 0.9);
            }
        }
	}
	.team-name {
		display: flex;
		width: 360px;
		height: 70px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 36px;
		background-color: rgba(0,14,37,0.7);
	}
	.score {
		display: flex;
		flex-direction: row;
		width: 77px;
		height: 70px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 48px;
		background-color: rgba(0,14,37,0.7);
		&.CT {
			border-bottom: solid 3px var(--color-new-ct);
		}
		&.T {
			border-bottom: solid 3px var(--color-new-t);
		}
	}
	.bar {
		display: flex;
		flex-direction: row;
		width: 10px;
        height: 70px;
        &.CT {
            background-color: var(--color-new-ct);
        }
        &.T {
            background-color: var(--color-new-t);
        }
	}

}
.win_round_container {
	position: fixed;
	display: none;
	opacity: 1;
	width: 480px;
	height: 50px;
	top: 70px;
	align-items: center;
	color: black;
	background-color: black;
	font-size: 20px;
    font-weight: 600;
	z-index: 2;
	&.show {
		display: flex;
		animation: ShowWinCycle 5s linear 1;
		animation-fill-mode: forwards;
	}
	&.right {
		flex-direction: row;
		left: calc(50% + 60px);
		transform: skewX(-20deg);
	}
	&.left {
		flex-direction:  row-reverse;
		right: calc(50% + 60px);
		transform: skewX(20deg);
	}
}

.defuse_plant_container {
    position: fixed;
    color: white;
    top: 130px;
    padding: 100px;
    font-size: 30px;
    text-align: center;
    .defuse_plant_bar {
        height: 49px;
        position: absolute;
        width: 0%;
    }
    .defuse_plant_caption {
        z-index: 1;
        display: flex;
        text-transform: uppercase;
        align-items: flex-end;
        svg {
            margin-right: 13px;
        }
    }
    &.planting {
        background-image: url(../../assets/PlantDefuse/Plant.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 400px;
        .defuse_plant_bar {
            left: 0;
        }
    }
    &.defusing {
        background-image: url(../../assets/PlantDefuse/Defuse.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 400px;
        .defuse_plant_bar {
            right: 0;
        }
    }
    &.hide {
        opacity: 0;
    }
}
#encapsulator {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	top: 97px;
	width: 1148px;
	height: 50px;
	left: 50%;
	transform: translateX(-50%);
    .CT {
        color: var(--color-new-ct);
    }
    .T {
        color: var(--color-new-t);
    }

	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
}
	.wins_bar {
		display: flex;
		flex-direction: row;
		width: 10px;
		height: 30px;
	}
	.wins_bar.CT {
		background-color: var(--color-new-ct);
	}
	.wins_bar.T {
		background-color: var(--color-new-t);
	}
}
.alert_bar.CT {
	background-color: var(--color-new-ct);
}
.alert_bar.T {
	background-color: var(--color-new-t);
}
#series_container {
	display: flex;
	flex-direction: row;
	width: 126px;
	height: 26px;
	position: relative;
	top: 2px;
}
#series_text {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: bold;
	color: var(--white-full);
}
.container {
    display: flex;
    flex-direction: row;
    width: 280px;
    height: 10px;
}
.container.left {
	justify-content: flex-end;
	height: 100px;
}
.container.right {
	justify-content: flex-start;
}
.series_wins {
	display: flex;
	flex-direction: row;
	width: 65px;
	height: 25px;
	z-index: 1;
	padding-left: 6px;
	padding-right: 6px;
	position: absolute;
	bottom: 22px;
	transition: top 0.5s;
	background-color: rgba(0,14,37,0.7);
}
.series_wins.show {
	top: 0px;
}
.wins_box_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: right;
}
.series_wins.left {
	position: absolute;
	border-bottom-left-radius: 12px;
	.wins_box_container {
		flex-direction: row-reverse;
	}
}
.series_wins.right {
	position: absolute;
	border-bottom-right-radius: 12px;
	.wins_box_container {
		flex-direction: row-reverse;
	}
}
.wins_box {
    width: 14px;
    height: 14px;
	border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
	top: 5px;
	position: relative;
    box-sizing: border-box;
}
.wins_box.CT {
	background-color: rgba(0,14,37,0.3);
	border: solid 1px var(--color-new-ct);
	right: 13px;
}
.wins_box.CT.win {
	background-color: var(--color-new-ct);
}
.wins_box.T {
	background-color: rgba(0,14,37,0.3);
	border: solid 1px var(--color-new-t);
	right: 10px;
}
.wins_box.T.win {
	background-color: var(--color-new-t);
}

