.match-overview {
	opacity: 0;
	transition: opacity 0.75s;
	position: fixed;
	display: flex;
	flex-direction: column;
	right: 10px;
	border-radius: 12px;
	top: 355px;
	background-color: var(--sub-panel-color);
	text-transform: uppercase;
	width: 390px;
	color: white;
}
.match-overview.show {
	opacity: 1;
}
.match-overview-teams {
	display: flex;
	>div {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 5px 0;
	}
}
.match-overview-title {
	text-align: center;
	font-weight: 600;
	padding: 3px 0;
}
.match-overview-vs {
	width: 20px;
	flex: unset;
	font-size: 34px;
}
