@keyframes PlayerOverview{
	0%{
		height:0px;
		overflow: hidden;
	}
	100%{
		height:200px;
		overflow: visible;
	}
}


.imgoverview {
	margin-left: -30px;
	bottom: 25px;
	position: relative;
}

.player-overview {
	position: fixed;
	top: 114px;
	background-color: var(--main-panel-color);
	left: 50%;
	transform: translateX(-50%);
	height: 210px;
	width: 290px;
	padding: 30px;
	color: white;
	opacity: 0;
	transition: opacity 0.75s;
	font-family: "bignoodletitling";
}
.player-overview.show {
	opacity: 1;
	/*animation: PlayerOverview 1.5s;*/
}
.player-overview-stats {
	height: 180px;
	width: 173px;
	position: absolute;
	bottom: 40px;
	align-items: center;
	text-align: center;
	left: 173px;
}
.player-overview-stat {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
	font-size: 30px;
	}

.player-overview.CT {
	.player-overview-stat {
		.panel {
			.filling {
				background-color: var(--color-new-ct);
			}
			background-color: #082435;
		}
	}
}
.player-overview.T {
	.player-overview-stat {
		.panel {
			.filling {
				background-color: var(--color-new-t);
			}
			background-color: #331b00;
		}
	}
}
.player-overview-picture {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	img {
		bottom: 218px;
		max-width: 190px;
		max-height: 190px;
		position: relative;
		z-index: 1;
		right: 84px;
	}
}
.player-overview-username {
	text-align: center;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	bottom: 213px;
}
img.flag {
	border-radius: 0;
	margin: 0;
	left: 0;
	bottom: 0;
	height: 22px;
	margin-right: 8px;
}