#cameras-container {
    overflow: hidden;
    height: 100%;
    width: 107%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    video {
        height: 100%;
        position: absolute;
        border: solid 1px white;
    }
}