.title_container {
    background-color: var(--main-panel-color);
    
}
.vs_counter {
    // background-image: url(../../assets/bgPlayerAlive.png);
    opacity: 80%;
    // height: 35px;
}
.team_counter1 {
    background-color: var(--main-panel-color);
    opacity: 80%;
    // height: 35px;
    // font-size: 10px;
}
.team_counter2 {
    background-color: var(--main-panel-color);
    opacity: 80%;
    // height: 35px;
}