// .title_container {
//     background-color: var(--main-panel-color);
// }
.vs_counter {
    background-image: url(../../assets/bgPlayerAlive.png);
}
.team_counter1 {
    background-color: var(--main-panel-color);
    opacity: 80%;
}
.team_counter2 {
    background-color: var(--main-panel-color);
    opacity: 80%;
}