.grenades_container {
	display: flex ;
	flex: 1;
	height: 46px;
	.grenade_container {
		display: flex;
		flex: 1;
		color: white;
		align-items: center;
		font-weight: 600;
		font-size: 18px;
		justify-content: center;
		
		svg {
			height: 30px;
			width:auto;				
		}
	}
}