.observed {
    position: fixed;
    width: 620px;
    bottom: 120px;
    margin-left: -310px;
    left: 50%;
    height: 35px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--sub-panel-color);
    font-family: "bignoodletitling";

    .main_row, .stats_row {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        height: 43px;
    }

    .stats_row {
        height: 28px;

        .stats_cell {
            height: 100%;
            width: 56px;
            display: flex;
            flex-direction: column;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

            .label {
                height: 13px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                color: #b2b2b2;
            }

            .stat {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .ammo {
            height: 100%;
            width: 140px;
            display: flex;
            position: relative;
            bottom: 5px;
            left: 220px;
            .ammo_counter {
                flex: 1;
                display: flex;
                font-size: 22px;
                font-weight: 600;
                position: relative;
                left: 4px;
                top: 1px;
                > div {
                    width: 32px;
                    display: flex;
                    align-items: center;
                }
                .ammo_clip {
                    justify-content: flex-end;
                }
                .ammo_reserve {
                    justify-content: flex-start;
                }
            }
            .ammo_icon_container {
                display: flex;
                height: 100%;
                width: 48px;
                align-items: center;
                justify-content: center;
                position: relative;
                left: 12px;
                svg {
                    max-width: 28px;
                    fill: white;
                }
            }
        }
        .health_armor_container {
            display: flex;
            height: 100%;
            width: 170px;
            justify-content: center;
            position: relative;
            left: 390px;
            bottom: 38px;
            .text {
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 24px;
                height: 100%;
                padding-top: -1px;
            }
            
            .icon {
                display: flex;
                width: 30px;
                align-items: center;
                justify-content: center;
                margin-left: 2px;
                margin-right: 2px;
                svg {
                    max-height:30px;
                    max-width:20px;
                }
            }
        }
        .statistics {
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            .stat {
                display: flex;
                font-weight: 600;
                font-size: 18px;
                margin-right: 24px;
            }
        }
    }

    .main_row {
        font-weight: 600;
        .logo {
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 4px;
            right: 130px;
            img {
                max-height: 33px;
            }
        }
        .grenade_container {
            height: 100%;
            display: flex;
            align-items: center;
            width: 100px;
            justify-content: center;
            position: absolute;
            left: 165px;
            top: 30px;
            svg {
                max-height:25px;
                max-width:27px;
                margin-left: 8px;
            }
        }
        .username_container {
            height: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            letter-spacing: 1.5px;
            position: relative;
            right: 175px;
            bottom: 3px;
            flex-direction: row-reverse;
        }
        .weapon.grenade {
            height: 28px;
            /*filter: invert(1);*/

            &:last-child {
                margin-right: 5px;
            }
        }
        
    }
    .sidebar {
        width: 10px;
        height: 100%;
        position: absolute;
        &:first-child {
            left: -10px;
        }
        &:last-child {
            right: -10px;
        }
    }
    .avatar {
        align-self: flex-end;
        display: flex;
        position: relative;
        width: 140px;
        height: 140px;
        left: 240px;
        bottom: 15px;
        img {
            // border-radius:50%;
            zoom: 130%;
            max-width: 160px;
            max-height: 140px;
        }
    }
    
    &.T {
        border-bottom: 35px solid var(--color-new-t);
        .main_row .username_container .username, .stats_row .ammo .ammo_counter .ammo_reserve {
            color: var(--white-full)
        }
        .sidebar {
            background-color: var(--color-new-t)
        }
        .stats_row .statistics .stat .label {
            color: var(--white-full);
            margin-right: 2px;
        }
        .stats_row .health_armor_container .icon, .stats_row .ammo .ammo_icon_container {
            svg {
                fill: var(--white-full);
            }
        }
    }
    &.CT {
        border-bottom: 50px solid var(--color-new-ct);
        .main_row .username_container .username, .stats_row .ammo .ammo_counter .ammo_reserve {
            color: var(--white-full)
        }
        .sidebar {
            background-color: var(--color-new-ct)
        }
        .stats_row .statistics .stat .label {
            color: var(--white-full);
            margin-right: 2px;
        }
        .stats_row .health_armor_container .icon, .stats_row .ammo .ammo_icon_container {
            svg {
                fill: var(--white-full);
            }
        }
        
    }
}

#cameraFeed {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    transform: scale(0.94);
    left: 0px;
    bottom: 0;
    transform-origin: bottom left;
    iframe {
        position: relative;
        border: none;
        width: 750px;
        height: 300px;
    }
}


.baner {
    display: none;
}