.observed {
    position: fixed;
    width: 640px;
    bottom: 120px;
    margin-left: -310px;
    left: 50%;
    height: 95px;
    display: flex;
    flex-direction: column;
    color: white;

    .main_row, .stats_row {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        height: 33px;
    }

    .stats_row {
        height: 32px;
        background-color: black;
        width: 700px;
        position: relative;
        right: 34px;
        border-radius: 10px;
        .stats_cell {
            height: 100%;
            width: 56px;
            display: flex;
            flex-direction: column;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

            .label {
                height: 13px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                color: #b2b2b2;
            }

            .stat {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .ammo {
            height: 100%;
            width: 140px;
            display: flex;
            .ammo_counter {
                flex: 1;
                display: flex;
                font-size: 18px;
                font-weight: 600;
                position: relative;
                left: 20px;
                > div {
                    width: 32px;
                    display: flex;
                    align-items: center;
                }
                .ammo_clip {
                    justify-content: flex-end;
                }
                .ammo_reserve {
                    justify-content: flex-start;
                }
            }
            .ammo_icon_container {
                display: flex;
                height: 100%;
                width: 48px;
                align-items: center;
                justify-content: center;
                position: relative;
                left: 28px;
                svg {
                    max-width: 30px;
                    fill: white;
                }
            }
        }
        .health_armor_container {
            display: flex;
            height: 100%;
            width: 140px;
            justify-content: center;
            .text {
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 21px;
                height: 100%;
                padding-top: 2px;
            }
            
            .icon {
                display: flex;
                width: 30px;
                align-items: center;
                justify-content: center;
                svg {
                    max-height:30px;
                    max-width:22px;
                }
            }
        }
        .statistics {
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            right: 8px;
            .stat {
                display: flex;
                font-weight: 600;
                font-size: 24px;
                margin-right: 24px;
            }
        }
    }

    .main_row {
        font-weight: 600;
        width: 400px;
        margin-left: 120px;
        background-color: black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .logo {
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            right: 130px;
        }
        .username_container {
            height: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 40px;
            position: relative;
            right: 60px;
        }
        
    }
    .sidebar {
        width: 10px;
        height: 100%;
        position: absolute;
        &:first-child {
            left: -10px;
        }
        &:last-child {
            right: -10px;
        }
    }
    .flag {
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        img {
            height: 43px;
        }
    }
    .avatar {
        align-self: flex-end;
        display: flex;
        position: relative;
        width: 140px;
        height: 140px;
        left: 95px;
        bottom: 132px;
        img {
            height: 225px;
            width: 225px;
        }
     }
    
    &.T {
        .main_row .username_container .username, .stats_row .ammo .ammo_counter .ammo_reserve {
            color: var(--color-new-t)
        }
        .sidebar {
            background-color: var(--color-new-t)
        }
        .stats_row .statistics .stat .label {
            color: var(--color-new-t);
            margin-right: 2px;
        }
        .stats_row .health_armor_container .icon, .stats_row .ammo .ammo_icon_container {
            svg {
                fill: var(--color-new-t);
            }
        }
    }
    &.CT {
        .main_row .username_container .username, .stats_row .ammo .ammo_counter .ammo_reserve {
            color: var(--color-new-ct)
        }
        .sidebar {
            background-color: var(--color-new-ct)
        }
        .stats_row .statistics .stat .label {
            color: var(--color-new-ct);
            margin-right: 2px;
        }
        .stats_row .health_armor_container .icon, .stats_row .ammo .ammo_icon_container {
            svg {
                fill: var(--color-new-ct);
            }
        }
        
    }
}

#cameraFeed {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    transform: scale(0.94);
    left: 0px;
    bottom: 0;
    transform-origin: bottom left;
    iframe {
        position: relative;
        border: none;
        width: 750px;
        height: 300px;
    }
}


.grenade_container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
    position: relative;
    left: 10px;
    .img {
        max-height:20px;
        max-width:22px;
    }
}

.weapon.grenade {
    height: 28px;
    /*filter: invert(1);*/
    svg {
        max-height:30px;
        max-width:22px;
    }

    &:last-child {
        margin-right: 5px;
    }
}