.observed {
    position: fixed;
    width: 620px;
    bottom: 120px;
    margin-left: -310px;
    left: 50%;
    height: 35px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--sub-panel-color);
    font-family: "bignoodletitling";

    .main_row, .stats_row {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        height: 43px;
    }

    .stats_row {
        height: 28px;

        .stats_cell {
            height: 100%;
            width: 56px;
            display: flex;
            flex-direction: column;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

            .label {
                height: 13px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                color: #b2b2b2;
            }

            .stat {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .grenade_container {
            display: flex;
            align-items: center;
            width: 140px;
            margin-left: -118px;
            justify-content: flex-start;
            svg {
                max-height:25px;
                max-width:27px;
                margin-left: 8px;
            }
        }
        .ammo {
            height: 100%;
            width: 140px;
            display: flex;
            position: relative;
            top: 1px;
            left: 220px;
            .ammo_counter {
                flex: 1;
                display: flex;
                font-size: 22px;
                font-weight: 600;
                position: relative;
                left: 4px;
                top: 1px;
                > div {
                    width: 32px;
                    display: flex;
                    align-items: center;
                }
                .ammo_clip {
                    justify-content: flex-end;
                }
                .ammo_reserve {
                    justify-content: flex-start;
                }
            }
            .ammo_icon_container {
                display: flex;
                height: 100%;
                width: 48px;
                align-items: center;
                justify-content: center;
                position: relative;
                left: 12px;
                svg {
                    max-width: 28px;
                    fill: white;
                }
            }
        }
        .health_armor_container {
            display: flex;
            height: 100%;
            width: 170px;
            justify-content: center;
            position: relative;
            left: 410px;
            bottom: 34px;
            .text {
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 24px;
                height: 100%;
                padding-top: -1px;
            }
            
            .icon {
                display: flex;
                width: 30px;
                align-items: center;
                justify-content: center;
                margin-left: 2px;
                margin-right: 2px;
                svg {
                    max-height:30px;
                    max-width:20px;
                }
            }
        }

        .roundkills-container {
            right: 167px;
            position: relative;
            bottom: 14px;
            .round_kills {
                position: absolute;
                height: 40px;
                max-height: 32px;
                width: 40px;
                max-width: 32px;
                filter: invert(100%);
            }
            .roundkills-num {
                position: absolute;
                padding-left: 13px;
                font-size: 18px;
                color: white;
                padding-top: 6px;
            }
        }
        .statistics {
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            .stat {
                display: flex;
                font-weight: 600;
                font-size: 18px;
                margin-right: 24px;
            }
        }
    }

    .main_row {
        font-weight: 600;
        .logo {
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 4px;
            right: 165px;
            img {
                max-height: 33px;
                max-width: 33px;
            }
        }
        .username_container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            //argin-left: -50px;
            margin-left: 58px;
            font-size: 30px;
            margin-bottom: 4px;
            .flag {
                height: 43px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                img {
                    height: 32px;
                    position: absolute;
                    margin-right: 130px;
                }
            }
        }
        .weapon.grenade {
            height: 28px;
            /*filter: invert(1);*/

            &:last-child {
                margin-right: 5px;
            }
        }
        
    }
    .sidebar {
        width: 10px;
        height: 100%;
        position: absolute;
        &:first-child {
            left: -10px;
        }
        &:last-child {
            right: -10px;
        }
    }
    .avatar {
        align-self: flex-end;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: flex-end;
        width: 180px;
        height: 180px;
        bottom: -33px;
        margin-left: 50%;
        transform: translateX(-50%);
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    &.T {
        border-bottom: 35px solid var(--color-new-t);
        .main_row .username_container .username, .stats_row .ammo .ammo_counter .ammo_reserve {
            color: var(--white-full)
        }
        .sidebar {
            background-color: var(--color-new-t)
        }
        .stats_row .statistics .stat .label {
            color: var(--white-full);
            margin-right: 2px;
        }
        .stats_row .health_armor_container .icon, .stats_row .ammo .ammo_icon_container {
            svg {
                fill: var(--white-full);
            }
        }
    }
    &.CT {
        border-bottom: 35px solid var(--color-new-ct);
        .main_row .username_container .username, .stats_row .ammo .ammo_counter .ammo_reserve {
            color: var(--white-full)
        }
        .sidebar {
            background-color: var(--color-new-ct)
        }
        .stats_row .statistics .stat .label {
            color: var(--white-full);
            margin-right: 2px;
        }
        .stats_row .health_armor_container .icon, .stats_row .ammo .ammo_icon_container {
            svg {
                fill: var(--white-full);
            }
        }
        
    }
}

#cameraFeed {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    transform: scale(0.94);
    left: 0px;
    bottom: 0;
    transform-origin: bottom left;
    iframe {
        position: relative;
        border: none;
        width: 750px;
        height: 300px;
    }
}

