.teambox {
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.75s;

    &.CT {
        .player .hp_bar {
            background: var(--color-new-ct);
        }
    }
    &.T {
        .player .hp_bar {
            background: var(--color-new-t);
        }
	}
    &.hide {
        opacity: 0;
    }

    &.left {
        left: 35px;
        .player {
            height: 73px;
            position: relative;
        .avatar {
            position: relative;
            left: 74%;
        }
        .hp_bar {
            left: 0;
        }
            .row_top {
                flex-direction: row;
                .money {
                    right: 25%;
                    position: relative;
                }
            }
            .row_center {
                .weapon {
                    position: relative;
                    left: 49px;
                }
            }
            .row {
                .username {
                    right: 110px;
                    position: relative;
                }
                .roundkills-container {
                    position: relative;
                    left: 90%;
                }
                .grenades {
                    right: 75px;
                }
                .armor_and_utility {
                    justify-content: flex-start;
                }
                .health {
                    position: absolute;
                    left: 45%;
                }
            }
        }
    }
    &.right {
        right: 35px;
        .player {
            height: 73px;
            position: relative;
            flex-direction: row-reverse;
            .player_data {
                flex-direction: row-reverse;
                .hp_bar {
                    align-self: flex-end;
                    right: 0;
                }
                .row_top {
                    .money {
                        left: 100%;
                        position: relative;
                        flex-direction: row-reverse;
                    }
                    .weapon {
                        transform: scaleX(-1);
                    }
                }
                .row_center {
                    .weapon {
                        position: relative;
                        right: 42px;
                        flex-direction: row-reverse;
                    }
                }
                .row {
                    .username {
                        right: 40px;
                        position: fixed;
                        flex-direction: row-reverse;
                    }
                    .roundkills-container {
                        position: relative;
                        right: 90%;
                    }
                    .grenades {
                        left: 25px;
                        flex-direction: row-reverse;
                    }
                    .armor_and_utility {
                        justify-content: flex-end;
                    }
                    .health {
                        position: absolute;
                        left: 35%;
                    }
                }
                .avatar {
                    position: relative;
                    right: 74%;
                    justify-content: flex-start;
                }
            }
        }
    }  
    .player {
        width: 440px;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .teambox .player.T &.active {
            background-color: black;
            filter: invert(10%) drop-shadow(0 1px 5px black);
        }
        &.dead {
            opacity: 0.65;
            .player_side_bar {
                background-color: var(--main-panel-color) !important;
            }
            .player_data {
                width: 55%;
                transition: width 0.3s;
                .avatar {
                    filter: grayscale(100%);
                    margin-left: -10px;
                    margin-right: -10px;
                }
                .obs_ps {
                    background-color: black;
                    margin-left: 225px;
                    margin-right: 225px;
                }
                .row {
                    .hp_background_2 {
                        opacity: 0;
                    }
                    .roundkills-container {
                        margin-left: -5px;
                        margin-right: -5px;
                    }
                    .health {
                        color: #b2b2b2;
                        overflow: hidden;
                    }
                    .username {
                        color: #b2b2b2;
                        margin-left: 15px;
                        margin-right: 5px;
                    }
                    .armor_and_utility {
                        width: 0;
                        overflow: hidden;
                    }
                }
                .row_center {
                    .statt {
                        position: relative;
                        margin-right: -20px;
                        margin-left: -25px;
                    }
                }
                .row_top {
                    .money {
                        display: none !important;
                    }
                }
            }
        }
        .player_side_bar {
            width: 10px;
            height: 70px;
            &.CT {
                background-color: var(--color-new-ct);
            }
            &.T {
                background-color: var(--color-new-t);
            }
        }
        .dead-adr {
            display: none;
        }
        .player_data {
            background-color: var(--main-panel-color);
            width: 310px;
            display: flex;
            flex-direction: row;
            position: relative;
            height: 100%;
            .player_stats {
                display: flex;
                flex-direction: column;
                flex: 1;
                min-width: 0;
                 .hp_bar {
                    height: 25px;
                    position:absolute;
                    &.low {
                        background-color: red; 
                    }
                }
                .row {
                    flex: 1;
                    display: flex;
                    position: relative;
                    .grenades {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        z-index: 1;
                        position: relative;
                        top: 47px;
                        svg.grenade {
                            max-height: 17px;
                            height: 20px;
                            margin-left: 5px;
                        }
                    }
                    .armor_and_utility {
                        width: 39px;
                        display: flex;
                        padding-left: 5px;
                        padding-right: 5px;
                        margin-top: 5px;
                        .armor_indicator, .bomb_indicator, .defuse_indicator {
                            svg {
                                max-height: 17px;
                                fill: white;
                            }
                        }
                        div {
                            display: flex;
                            width: 50%;
                        }
                    }
                    .username {
                        flex: 1 1;
                        display: flex;
                        z-index: 1;
                        color: #fff;
                        font-weight: 600;
                        max-width: calc(100% - 49px);
                        justify-content: space-between;
                        overflow: hidden;
                        font-size: 18px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .roundkills-container {
                        position: absolute;
                        background-image: url('./../../assets/images/icon_skull_default.svg');
                        background-repeat: no-repeat;
                        background-size: 10px;
                        background-position: left 5px;
                        padding-left: 13px;
                        font-size: 13px;
                        color: white;
                        z-index: 9999;
                        top: 4px;
                    }
                    .health {
                        width: 49px;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        z-index: 1;
                        color: #fff;
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
                .row_center {
                    .weapon {
                        position: relative;
                        display: flex;
                        flex: 1;
                        svg {
                            max-height: 23px;
                            max-width: 90px;
                            width: auto;
                            height: 50px;
                        }
                    }
                    .statt {
                        display: flex;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 700;
                        align-items: center;
                        position: absolute;
                        bottom: 22px;
                        letter-spacing: 1px;
                        img {
                            margin-left: 16px;
                        }
                    }
                }
                .row_top {
                    svg.weapon {
                        filter: invert(45%);
                        &.active {
                            filter: invert(0);
                        }
                    }
                    .money {
                        width: 60px;
                        color: var(--color-moneys);
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-top: -3px;
                    }
                    .hp_background, .hp_background_2 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                    }
                    .hp_background_2 {
                        background-color: var(--color-bomb);
                        transition: width 0.75s 1.5s;
                    }
                }
            }
            .avatar {
                width: 70px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                overflow: hidden;
                position: relative;
                z-index: 1;
                .videofeed {
                    width:70px;
                    height:70px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    video {
                        height: 70px;
                        position: absolute;
                    }
                }
                img {
                    border-radius: 5%;
                    max-width: 80px;
                    max-width: 80px;
                    height: 72px;
                    width: 72px;
                }
            }
        }
    }
}

.players_alive {
    display: flex;
    flex-direction: column;
    width: 200px;
	background-color: var(--main-panel-color);
    position: fixed;
    right: 25px;
    top: 15px;
    opacity: 1;
    transition: opacity 1s;
    .counter_container {
        display: flex;
        height: 60px;
        > div {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:47px;
            color: white;
            background-color: var(--main-panel-color);
        }
        .CT {
            color: var(--color-new-ct);
        }
        .T {
            color: var(--color-new-t);
        }
    }
    .title_container {
        color: white;
        text-transform: uppercase;
        text-align: center;
        height:20px;
        font-size:18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--main-panel-color);
    }
    &.hide {
        opacity: 0;
    }
}



.hp_bar_bg {
    background-color: red !important;
    transition: width 1s 2s;
}




.teambox.T.left .player .spending {
    position: absolute;
    top: 24.5px;
    right: 160px;
} 

.teambox.T.right .player .spending {
    position: absolute;
    top: 24.5px;
    left: 160px;
} 

.teambox.CT.left .player .spending {
    position: absolute;
    top: 24.5px;
    right: 160px;
} 

.teambox.CT.right .player .spending {
    position: absolute;
    top: 24.5px;
    left: 160px;
} 



.teambox .player .spending {
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 100%;
    position: absolute;
    opacity: 1;
    top: 9px;
    transition: opacity 0.75s;
}
.teambox .player .spending.hide {
    opacity: 0;
}
.teambox .player .spending .value {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.teambox .player .spending {
    .value {
        color: red;
    }
}





.teambox .player .adr {
    position: absolute;
    color: white;
    font-size: 16px;
    bottom: 46px;
    transition: opacity 0.75s;
}
.teambox .player .adr.hide {
    opacity: 0;
}
.teambox .player .adr .value {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}


.teambox.CT .player .adr .stat-label {
    color: var(--color-new-ct);
}
.teambox.T .player .adr  .stat-label{
    color: var(--color-new-t);
}





.teambox.T.left .player .adr {
    position: absolute;
    left: 100px;
    .stat-label {
        position: absolute;
    }
    .stat-value {
        left: 40px;
        position: absolute;
    }
} 

.teambox.T.right .player .adr {
    position: absolute;
    right: 160px;
    .stat-label {
        position: absolute;
    }
    .stat-value {
        left: 40px;
        position: absolute;
    }
} 





.teambox.CT.left .player .adr {
    position: absolute;
    left: 120px;
    .stat-label {
        position: absolute;
    }
    .stat-value {
        left: 40px;
        position: absolute;
    }
} 

.teambox.CT.right .player .adr {
    position: absolute;
    right: 150px;
    .stat-label {
        position: absolute;
    }
    .stat-value {
        left: 40px;
        position: absolute;
    }
} 






.teambox .obs_ps {
    position: absolute;
    bottom: 0;
    width: 16px;
    height: 16px;
    color: #fff;
    font-family: "Titillium";
    font-size: 12px;
    font-weight: 700;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 94.7%;
    margin-right: 94.7%;
}
.teambox.T .obs_ps {
    background-color: var(--color-new-t);
}
.teambox.CT .obs_ps {
    background: var(--color-new-ct);
}





.teambox.T.left .player .statt {
    position: relative;
    right: 75%;
} 

.teambox.T.right .player .statt {
    position: relative;
    left: 65%;
} 



.teambox.CT.left .player .statt {
    position: relative;
    right: 68%;
} 

.teambox.CT.right .player .statt {
    position: relative;
    left: 70%;
} 








.teambox.T.left .player .armor_and_utility {
    position: relative;
    left: 30%;
} 

.teambox.T.right .player .armor_and_utility {
    position: relative;
    left: 50%;
} 



.teambox.CT.left .player .armor_and_utility {
    position: relative;
    left: 30%;
} 

.teambox.CT.right .player .armor_and_utility {
    position: relative;
    left: 50%;
} 





.teambox {
    &.teambox.T.left .player {
        &.active {
             .player_data {
                  box-shadow: inset -100px 0px 50px var(--color-new-t);
             }
        }
   }

   &.teambox.T.right .player {
    &.active {
       .player_data {
           box-shadow: inset 100px 0px 50px var(--color-new-t);
       }
   }
}




   &.teambox.CT.right .player {
    &.active {
         .player_data {
              box-shadow: inset 100px 0px 50px var(--color-new-ct);
         }
    }
}
    &.teambox.CT.left .player {
    &.active {
       .player_data {
           box-shadow: inset -100px 0px 50px var(--color-new-ct);
        }
   }
    }
}






.teambox {
    &.teambox.CT.left .player {
        &.dead {
             .dead-adr {
                display: flex;
                color: rgb(184, 181, 181);
                right: 38px;
                position: relative;
                .stat-value {
                    left: 7px;
                    position: relative;
                }
             }
        }
   }


   &.teambox.T.right .player {
    &.dead {
        .dead-adr {
            display: flex;
            color: rgb(184, 181, 181);
            left: 38px;
            position: relative;
            flex-direction: row-reverse;
            .stat-value {
                right: 7px;
                position: relative;
            }
         }
   }
}





&.teambox.CT.right .player {
    &.dead {
        .dead-adr {
            display: flex;
            color: rgb(184, 181, 181);
            left: 38px;
            position: relative;
            flex-direction: row-reverse;
            .stat-value {
                right: 7px;
                position: relative;
            }
         }
   }
}


&.teambox.T.left .player {
    &.dead {
         .dead-adr {
            display: flex;
            color: rgb(184, 181, 181);
            right: 38px;
            position: relative;
            .stat-value {
                left: 7px;
                position: relative;
            }
         }
    }
}
}