.teambox {
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.75s;

    &.CT {
        .player .hp_bar {
            background: var(--color-new-ct);
        }
    }
    &.T {
        .player .hp_bar {
            background: var(--color-new-t);
        }
	}

    &.hide {
        opacity: 0;
    }
    &.T {
        left: 35px;
        .player {
            height: 73px;
            position: relative;
            margin: 3px;
            &.active {
                .player_data {
                    box-shadow: 0 0 8px #fff;
                    border: 2px solid white;
                    z-index: 1;
                }
            }
            .row {
                flex-direction: row;
                .grenades {
                    padding-right: 5px;
                }
                
                .armor_and_utility {
                    justify-content: flex-start;
                }
                .money {
                    margin-right: auto;
                    position: relative;
                    right: 2px;
                }
                .adr {
                    position: absolute;
                    left: 145px;
                    .stat-label {
                        position: relative;
                        top: 38px;
                        color: var(--color-new-t);
                    }
                    .stat-value {
                        position: relative;
                        top: 19px;
                        left: 35px;
                    }
                }
                .dead-adr {
                    left: 120px;
                    .stat-label {
                        position: absolute;
                        right: 23px;
                        top: 13px;
                    }
                    .stat-value {
                        position: absolute;
                        left: 43px;
                        top: 13px;
                    }
                }
                .statistics_T {
                    display: flex;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;
                    align-items: center;
                    position: absolute;
                    bottom: 22px;
                    left: 27px;
                    letter-spacing: 1px;
                    img {
                        margin-left: 16px;
                    }
                }
                .statistics_CT {
                    display: none;
                }
                .roundkills-container {
                    position: absolute;
                    background-image: url('./../../assets/images/icon_skull_default.svg');
                    background-repeat: no-repeat;
                    background-size: 10px;
                    background-position: left 2px;
                    padding-left: 13px;
                    font-size: 13px;
                    color: white;
                    left: 140px;
                    bottom: 22px;
                    img {
                        filter: invert (100%);
                    }
                }
                .health {
                    .skull {
                        right: 233px;
                    }
                }
                .number{
                    position: absolute;
                    right: 97%;
                    top: 50%;
                    display: box;
                    width: 20px;
                    height: 20px;
                    background-color: var(--color-new-t);
                    border:solid 1px white;
                    color: white;
                    border-radius: 12px;
                    z-index: 1;
                    .num{
                        position: relative;
                        left: 29%;
                        top: 1px;
                    }
                } 
                .secondary_weapon {
                    padding-right: 10px;
                }
                
            }
        }
    }
    &.CT {
        right: 35px;
        .player {
            flex-direction: row-reverse;
            height: 73px;
            position: relative;
            margin: 3px;
            &.active {
                .player_data {
                    box-shadow: 0 0 8px #fff;
                    border: 2px solid white;
                    z-index: 1; 
                }
            }
            .player_data {
                flex-direction: row-reverse;
                .row {
                    flex-direction: row-reverse;
                    .grenades {
                        padding-left: 5px;
                    }
                    .username {
                        flex-direction: row-reverse;
                    }
                    .health {
                        .skull {
                            left: 233px;
                        }
                    }
                    .roundkills-container {
                        position: absolute;
                        background-image: url('./../../assets/images/icon_skull_default.svg');
                        background-repeat: no-repeat;
                        background-size: 10px;
                        background-position: left 2px;
                        padding-left: 13px;
                        font-size: 13px;
                        color: white;
                        right: 140px;
                        bottom: 22px;
                    }
                    .secondary_weapon {
                        padding-left: 10px;
                    }
                    .armor_and_utility {
                        justify-content: flex-end;
                    }
                    .money {
                        margin-left: auto;
                        justify-content: flex-end;
                        position: relative;
                        left: 18px;
                    } 
                    .adr {
                        position: absolute;
                        right: 145px;
                        .stat-label {
                            position: relative;
                            top: 38px;
                            color: var(--color-new-ct);
                        }
                        .stat-value {
                            position: relative;
                            top: 19px;
                            right: 25px;
                        }
                    }
                    .dead-adr {
                        right: 120px;
                        .stat-label {
                            position: absolute;
                            left: 23px;
                            top: 13px;
                        }
                        .stat-value {
                            position: absolute;
                            right: 43px;
                            top: 13px;
                        }
                    }
                    .statistics_CT {
                        display: flex;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 700;
                        align-items: center;
                        position: absolute;
                        bottom: 22px;
                        right: 50px;
                        letter-spacing: 1px;
                        img {
                            margin-left: 16px;
                        }
                    }  
                    .statistics_T {
                        display: none;
                    }
                    .number{
                        position: absolute;
                        left: 97%;
                        top: 50%;
                        display: box;
                        width: 20px;
                        height: 20px;
                        background-color: var(--color-new-ct);
                        border:solid 1px white;
                        color: white;
                        border-radius: 12px;
                        z-index: 1;
                        .num{
                            position: relative;
                            left: 29%;
                            top: 1px;
                        }
                    } 
                    .weapon {
                        transform: scaleX(-1);
                    }
                }
                .avatar {
                    justify-content: flex-start;
                }
            }
        }
    }  
    .player {
        width: 420px;
        height: 70px;
        margin-bottom: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &.active {
            filter: invert(10%) drop-shadow(0 1px 5px black);
        }
        &.dead {
            opacity: 0.75;
            .player_side_bar {
                background-color: var(--main-panel-color) !important;
            }
            .player_data {
                width: 45%;
                .dead-adr {
                    display: flex;
                }
                .row {
                    .hp_background_2 {
                        opacity: 0;
                    }
                    .health {
                        color: #b2b2b2;
                        overflow: hidden;
                        .skull {
                            position: absolute;
                            top: 8px;
                            transform: scale(0.85);
                            margin-right: -105px;
                            margin-left: -105px;
                        }
                    }
                    .username {
                        color: #b2b2b2;
                        margin-left: 20px;
                        margin-right: 20px;
                        font-size: 17px !important;
                    }
                    .armor_and_utility {
                        width: 0px;
                        overflow: hidden;
                    }
                    .money {
                        color: #b2b2b2 !important;
                        margin-right: 20px;
                        margin-left: 20px;
                    }
                    .statistics {
                        margin-right: 15px;
                        margin-left: 20px;
                        transform: scale(0.90);
                    }
                    .roundkills-container {
                        margin-right: 25px;
                        margin-left: 25px;
                        bottom: 48px;
                    }
                    .number {
                        display: none;
                    }
                }
            }
        }
        .player_side_bar {
            width: 10px;
            height: 70px;
            &.CT {
                background-color: var(--color-new-ct);
            }
            &.T {
                background-color: var(--color-new-t);
            }
        }
        .dead-adr {
            position: absolute;
            height: 85%;
            width: 60px;
            display: none;
            flex-direction: column;
            font-weight: 600;
            color: white;
            opacity: 0.75;
            top: 10%;
            .labels, .values {
                display: flex;
                flex-direction: row;
                flex: 1;
                .stat-label, .stat-value {
                    display: flex;
                    flex: 1;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .player_data {
            background-color: rgba(10, 5, 5, 0.35);
            width: 290px;
            display: flex;
            flex-direction: row;
            position: relative;
            height: 100%;
            .player_stats {
                display: flex;
                flex-direction: column;
                flex: 1;
                min-width: 0;
                 .hp_bar {
                    height: 41%;
                    position:absolute;
                    &.low {
                        background-color: red;
                    }
                }
                .row {
                    flex: 1;
                    display: flex;
                    position: relative;
                    svg.weapon {
                        filter: invert(45%);
                        &.active {
                            filter: invert(0);
                        }
                    }
                    .hp_background, .hp_background_2 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                    }
                    .hp_background_2 {
                        background-color: white;
                        transition: width 0.75s 1.5s;
                    }
                    .armor_and_utility {
                        width: 39px;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        top: 5px;
                        position: relative;
                        .armor_indicator, .bomb_indicator, .defuse_indicator {
                            svg {
                                max-height: 20px;
                                fill: white;
                            }
                        }
                        div {
                            display: flex;
                            width: 50%;
                        }
                    }
                    .username {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        z-index: 1;
                        color: white;
                        font-weight: 600;
                        max-width: calc(100% - 49px);
                        justify-content: space-between;
                        overflow: hidden;
                        font-size: 20px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-shadow: 1px 3px 0px #7A7A7A;
                        position: relative;
                        bottom: 1px;
                        .roundkills-container {
                            position: absolute;
                            background-image: url('../../assets/images/icon_skull_default.svg');
                            background-repeat: no-repeat;
                            background-size: 10px;
                            background-position: left 2px;
                            padding-left: 16px;
                            font-size: 13px;
                        }
                        svg.weapon {
                            max-height: 27px;
                            width: auto;
                            margin-left: 5px;
                            margin-right: 5px;
                            max-width: 100px;
                            height: 30px;
                        }
                    }
                    .money {
                        width: 60px;
                        color:  var(--color-moneys);
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        position: relative;
                        top: 8px;
                    }
                    .grenades {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        position: relative;
                        top: 5px;
                        svg.grenade {
                            max-height: 18px;
                            height: 20px;
                        }
                    }
                    .health {
                        width: 49px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 1;
                        color: white;
                        font-weight: 600;
                        font-size:18px;
                    }
                    .secondary_weapon {
                        display: flex;
                        align-items: center;
                        position: relative;
                        top: 6px;
                        svg {
                            max-height: 26px;
                            height: 30px;
                        }
                    }
                }
            }
            .avatar {
                width: 70px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                img {
                    border-radius:50%;
                }
            }
        }
    }
}

.players_alive {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgba(29,63,99, 0.5);
    position: fixed;
    right: 25px;
    top: 15px;
    opacity: 1;
    transition: opacity 1s;
    .counter_container {
        display: flex;
        height: 60px;
        > div {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:47px;
            color: white;
            background-color: rgba(29,63,99, 0.5);
        }
        .CT {
            color: var(--color-new-ct);
        }
        .T {
            color: var(--color-new-t);
        }
    }
    .title_container {
        color: white;
        text-transform: uppercase;
        text-align: center;
        height:20px;
        font-size:18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(29,63,99, 0.9);
    }
    &.hide {
        opacity: 0;
    }
}



.hp_bar_bg {
    background-color: red !important;
    transition: width 1s 2s;
}


.teambox .player .spending {
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 100%;
    position: absolute;
    opacity: 1;
    margin-left: 77px;
    margin-right: 77px;
    top: 8px;
    transition: opacity 0.75s;
}
.teambox .player .spending.hide {
    opacity: 0;
}
.teambox .player .spending .value {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.teambox .player .spending {
    .value {
        color: red;
    }
}




.teambox .player .adr {
    position: absolute;
    color: white;
    font-size: 16px;
    bottom: 40px;
    transition: opacity 0.75s;
}
.teambox .player .adr.hide {
    opacity: 0;
}
.teambox .player .adr .value {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
