
.teambox {
    position: fixed;
    bottom: 35px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.75s;
    font-family: bignoodletitling;
    &.CT {
        .player .hp_bar {
            background-color: var(--color-new-ct);
        }
    }
    &.T {
        .player .hp_bar {
            background-color: var(--color-new-t);
        }
    }
    &.hide {
        opacity: 0;
    }
    &.left {
        left: 35px;
        .player {
            .avatar {
                right: 13px;
                position: relative;
            }
            .hp_bar {
                left: 0;
            }
            .row {
                .health {
                    position: absolute;
                    left: 150px;
                }
                .username {
                    right: 10px;
                    position: relative;
                }
                .grenades {
                    position: absolute;
                    left: 128px;
                    margin-top: 22px;
                }
                .roundkills-container {
                    left: 80px;
                }
            }
            .row_center {
                .weapon {
                    position: absolute;
                    left: 150px;
                }
            }
            .row_top {
                .money {
                position: relative;
                right: 12px;
                height: 65px;
                }
                .secondary_weapon {
                    left: 105px;
                    bottom: 99px;
                    position: relative;
                }
            }
        .freezetime_KAD {
                margin-left: 0.5rem;
            }
        }
    }
    &.right {
        right: 35px;
        .player {
            flex-direction: row-reverse;
            .hp_bar {
                right: 0;
            }
            .player_data {
                flex-direction: row-reverse;
                .hp_bar {
                    align-self: flex-end;
                }
                .row {
                    flex-direction: row-reverse;
                    .health {
                        position: absolute;
                        right: 150px;
                    }
                    .username {
                        flex-direction: row-reverse;
                        position: relative;
                        left: 10px;
                    }
                    .grenades {
                        position: absolute;
                        right: 128px;
                        margin-top: 22px;
                        flex-direction: row-reverse;
                    }
                }
                .row_center {
                    .weapon {
                        left: 21px;
                        transform: scaleX(-1);
                    }
                }
                .row_top {
                    .money {
                        flex-direction: row-reverse;
                        position: relative;
                        left: 190px;
                        height: 65px;
                    }
                    .secondary_weapon {
                        left: 100px;
                        bottom: 100px;
                        position: relative;
                        .weapon {
                            transform: scaleX(-1);
                        }
                    }
                }
                .freezetime_KAD {
                    margin-right: 0.5rem;
                 }
                .avatar {
                    justify-content: flex-start;
                    left: 14px;
                    position: relative;
                }
            }
        }
    }  
    .player {
        width: 510px;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .teambox .player.T &.active {
            background-color: black;
            filter: invert(10%) drop-shadow(0 1px 5px black);
        }
        &.dead {
            opacity: 0.65;
            .player_side_bar {
                background-color: var(--main-panel-color) !important;
            }
            .player_data {
                width: 42.5%;
                transition: width 0.21s;
                .avatar {
                    filter: grayscale(100%);
                }
                .obs_ps {
                    background-color: black;
                    margin-left: 201px;
                    margin-right: 201px;
                    opacity: 50%;
                }
                .row {
                    .hp_background_2 {
                        opacity: 0;
                    }
                    .roundkills-container {
                        margin-left: 70px;
                        margin-right: 70px;
                    }
                    .health {
                        color: #b2b2b2;
                        overflow: hidden;
                    }
                    .username {
                        color: #b2b2b2;
                        margin-left: 0px;
                        margin-right: -4px;
                    }
                    .armor_and_utility {
                        width: 0;
                        overflow: hidden;
                    }
                }
            }
        }
        .player_side_bar {
            width: 10px;
            height: 70px;
            &.CT {
                background-color: var(--color-new-ct);
            }
            &.T {
                background-color: var(--color-new-t);
            }
        }
        .dead-adr {
            display: none;
        }
        

        .player_data {
            background-color: var(--sub-panel-color);
            width: 310px;
            display: flex;
            flex-direction: row;
            position: relative;
            height: 100%;
            .avatar {
                width: 70px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                overflow: hidden;
                margin-top: 12px;
                z-index: 1;
                .videofeed {
                    width:70px;
                    height:70px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    video {
                        height: 70px;
                        position: absolute;
                    }
                }
                img {
                    border-radius: 0px;
                }
            }
            .player_stats {
                display: flex;
                flex-direction: column;
                flex: 1;
                min-width: 0;
                .hp_bar {
                    height: 25px;
                    position: absolute;
                    &.low {
                        background-color: red;
                    }
                }
                .row {
                    flex: 1;
                    display: flex;
                    position: relative;
                    .hp_background, .hp_background_2 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                    }
                    .hp_background_2 {
                        background-color: var(--color-bomb);
                        transition: width 0.75s 1.5s;
                    }
                    .armor_and_utility {
                        width: 39px;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        top: 2px;
                        .armor_indicator, .bomb_indicator, .defuse_indicator {
                            svg {
                                max-height: 16px;
                                fill: white;
                            }
                        }
                        div {
                            display: flex;
                            width: 50%;
                        }
                    }
                    .health {
                        width: 49px;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        z-index: 1;
                        color: #fff;
                        font-weight: 600;
                        font-size: 18px;
                        top: 3px;
                    }
                    .username {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        z-index: 1;
                        color: white;
                        font-weight: 600;
                        max-width: calc(100% - 49px);
                        justify-content: space-between;
                        overflow: hidden;
                        font-size: 18px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        top: 3px;
                        letter-spacing: 1.5px;
                    }
                    .roundkills-container {
                        position: absolute;
                        background-image: url('./../../assets/images/icon_skull_default.svg');
                        background-repeat: no-repeat;
                        background-size: 10px;
                        background-position: left 2.45px;
                        padding-left: 13px;
                        font-size: 13px;
                        color: white;
                        height: 20px;
                        top: 29px;
                    }
                    .grenades {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        top: 26.5px;
                        position: absolute;
                        svg.grenade {
                            max-height: 17px;
                            height: 20px;
                            margin-left: 4px;
                        }
                    }
                }
                .row_center {
                    .container_weapon {
                        max-height: 24px;
                        width: auto;
                        max-width: 100px;
                        height: 30px;
                        top: 2.5px;
                        position: relative;
                        // position: relative;
                        // display: flex;
                        // flex: 1;
                        // top: 12px;
                        // svg {
                        //     max-height: 27px;
                        //     margin-left: -39px;
                        //     margin-right: -39px;
                        //     max-width: 100px;
                        //     width: auto;
                        //     height: 50px;
                        // }
                    }
                    .weapon {
                        max-height: 24px;
                        width: auto;
                        max-width: 100px;
                        height: 30px;
                        top: 2.5px;
                        position: relative;
                    }
                    svg.weapon {
                        filter: invert(45%);
                        &.active {
                            filter: invert(0);
                        }
                    }
                    }
                    .statt {
                        display: flex;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 700;
                        align-items: center;
                        bottom: 16px;
                        letter-spacing: 1px;
                        transition: opacity 0.75s;
                    }
                .row_top {
                    .secondary_weapon {
                        display: flex;
                        align-items: center;
                        transition: opacity 0.75s;
                        svg {
                            max-height: 17px;
                            height: 30px;
                        }
                    }
                    .money {
                    width: 60px;
                    color: var(--color-moneys);
                    font-weight: 600;
                    display: flex;
                    justify-content: flex-start;
                    bottom: 10px;
                    }
                }
            }
        }
    }
}



.players_alive {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: var(--main-color-transparant);
    position: fixed;
    right: 25px;
    top: 15px;
    opacity: 1;
    transition: opacity 1s;
    font-family: bignoodletitling;
    .counter_container {
        display: flex;
        height: 60px;
        > div {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:47px;
            color: white;
            background-color: var(--main-panel-color);
        }
        .CT {
            color: var(--color-new-ct);
        }
        .T {
            color: var(--color-new-t);
        }
    }
    .title_container {
        color: white;
        text-transform: uppercase;
        text-align: center;
        height:20px;
        font-size:18px;
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: var(--main-color-transparant);
    }
    &.hide {
        opacity: 0;
    }
}



.teambox .player .player_data .player_stats .hp_bar_bg {
    background-color:red;
    transition: width 1s 2s;
}









.teambox .player .adr {
    position: absolute;
    color: white;
    font-size: 16px;
    transition: opacity 0.75s;
    bottom: 18px;
}
.teambox .player .adr.hide {
    opacity: 0;
}
.teambox .player .adr .value {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}


.teambox.left .player .adr {
    position: absolute;
    left: 120px;
    .stat-label {
        position: absolute;
    }
    .stat-value {
        position: absolute;
        left: 25px;
    }
} 
.teambox.right .player .adr {
    position: absolute;
    right: 130px;
    .stat-label {
        position: absolute;
    }
    .stat-value {
        position: absolute;
        right: 10px;
    }
} 


.teambox.CT .player .adr .stat-label {
    color: var(--color-new-ct);
}
.teambox.T .player .adr  .stat-label{
    color: var(--color-new-t);
}






.teambox .obs_ps {
    position: absolute;
    bottom: 0;
    width: 16px;
    height: 16px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 94.7%;
    margin-right: 94.7%;
}
.teambox.T .obs_ps {
    background-color: var(--color-new-t);
}
.teambox.CT .obs_ps {
    background: var(--color-new-ct);
}



.teambox .player .statt.hide {
    opacity: 0;
}

.teambox.right .player .statt {
    position: relative;
    left: 20px;
    flex-direction: row-reverse;
    img {
        margin-right: 6px;
        margin-left: 8px;
    }
} 


.teambox.left .player .statt {
    position: relative;
    right: 20px;
    img {
        margin-right: 6px;
        margin-left: 8px;
    }
} 






.teambox.right .player .armor_and_utility {
    position: relative;
} 
.teambox.left .player .armor_and_utility {
    position: relative;
} 





.teambox {
    &.teambox.T.left .player {
        &.active {
             .player_data {
                  box-shadow: inset -100px 0px 50px var(--color-new-t);
             }
        }
   }

   &.teambox.T.right .player {
    &.active {
       .player_data {
           box-shadow: inset 100px 0px 50px var(--color-new-t);
       }
   }
}




   &.teambox.CT.right .player {
    &.active {
         .player_data {
              box-shadow: inset 100px 0px 50px var(--color-new-ct);
         }
    }
}
    &.teambox.CT.left .player {
    &.active {
       .player_data {
           box-shadow: inset -100px 0px 50px var(--color-new-ct);
        }
   }
    }
}






.dead-adr {
    color: rgb(184, 181, 181);
    bottom: 74px;
}


.teambox {
    &.teambox.left .player {
        &.dead {
             .dead-adr {
                display: flex;
                position: relative;
                left: 35px;
                .stat-value {
                    position: relative;
                    left: 3px;
                }
             }
        }
    }


&.teambox.right .player {
    &.dead {
        .dead-adr {
            display: flex;
            position: relative;
            right: 35px;
            flex-direction: row-reverse;
            .stat-value {
                position: relative;
                right: 3px;
            }
         }
         .money {
            position: relative;
            margin-left: -92px;
         }
      }
    }
}






.teambox.left .player .spen_kad {
    position: relative;
    height: 35px;
    bottom: 18px;
    left: 2px;
}

.teambox.right .player .spen_kad {
    position: relative;
    height: 35px;
    right: 2px;
    bottom: 18px;
}






.teambox .player .freezetime_KAD .labels,
.teambox .player .freezetime_KAD .values {
    display: flex;
    flex-direction: row;
    flex: 1;
}


.freezetime_KAD .labels .stat-label,
.freezetime_KAD .values .stat-value {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.freezetime_KAD .values .stat-value {
    color: white;
}

.teambox .player .freezetime_KAD {
    background-color: var(--sub-panel-color);
    &.CT {
        color: var(--color-new-ct);
    }
    &.T {
        color: var(--color-new-t)
    }
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 100%;
    opacity: 1;
    transition: opacity 0.75s;
    border-left: solid 1px var(--main-panel-color);
    border-right: solid 1px var(--main-panel-color);
}

.teambox .player .freezetime_KAD.hide {
    opacity: 0;
}

.teambox.CT .player .freezetime_KAD {
    .labels .stat-label {
        color: var(--color-new-ct);
    }
    margin-left: 0px;
}
.teambox.T .player .freezetime_KAD {
    .labels .stat-label {
        color: var(--color-new-t);
    }
    margin-right: 0px;
}
.teambox.left .player .freezetime_KAD {
    margin-left: 0px;
}
.teambox.right .player .freezetime_KAD {
    margin-right: 0px;
}
.teambox .player .spending {
    background-color: var(--sub-panel-color);
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 100%;
    opacity: 1;
    transition: opacity 0.75s;
    border-left: solid 1px var(--main-panel-color);
    border-right: solid 1px var(--main-panel-color);
}
.teambox .player .spending.hide {
    opacity: 0;
}
.teambox .player .spending .label,
.teambox .player .spending .value {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.teambox .player .spending {
    .label {
        color: greenyellow; 
    }
    .value {
        color: red;
    }
}



.teambox .player .secondary_weapon.hide {
    opacity: 0;
}