@import "fonts/montserrat.css";
@import "fonts/stratum2.css";
html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Titillium","Stratum2","Montserrat","Roboto",sans-serif, "bignoodletitling", "Prototype";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url('./assets/bg.png');/**/
}

@font-face {
  font-family: 'Louis George Cafe';
  src: local('Louis George Cafe'), url('./fonts/Louis George Cafe.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./fonts/Roboto/Roboto.ttf') format('truetype');
}

@font-face {
  font-family: 'bignoodletitling';
  src: local('bignoodletitling'), url('./fonts/bignoodletitling/big_noodle_titling.ttf') format('truetype');
}
@font-face {
  font-family: 'Prototype';
  src: local('Prototype'), url('./fonts/Prototype/Prototype.ttf') format('truetype');
}

@font-face {
  font-family: 'Rounded_Elegance';
  src: local('Rounded_Elegance'), url('./fonts/Rounded_Elegance.ttf') format('truetype');
}
@font-face {
  font-family: 'Titillium';
  src: local('Titillium'), url('./fonts/Titillium/TitilliumWeb-Bold.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 100%;
  height: 100%;
}

:root {
	--main-panel-color: #40bbdd;
  --sub-panel-color2: #0f2a31d7;
  --sub-panel-color: rgba(21, 22, 22, 0.7);
  --white-dull: rgba(10, 5, 5, 0.726);
  --white-full: rgba(250, 250, 250, 1);
  --white-half: rgba(250, 250, 250, 0.5);
  --color-gray: rgba(191, 191, 191, 1.0);
  --color-moneys: #3abb66;
  --color-t: #fcba03;
  --color-ct: #5788a8;
  --color-new-t:  #fcba03;
  --color-new-ct: #1649f2; /*41, 94, 247,1*/
  --color-bomb: #f22222;
  --color-defuse: #2222f2;
  --player-overview: rgba(0,0,0, 0.3);
  --main-color-transparant: rgba(15, 42, 49, 0.8)
} 