.tournament_container {
    position: absolute;
    left: 322px;
    color: white;
    width: 220px;
    top: 816px;
    opacity:1;
    transition: opacity 1s;
    // font-family: "bignoodletitling";
}

.tournament_container .tournamentname {
    padding-bottom:15px;
    bottom: 795px;
    left: 417.5px;
    height: 10px;
    position: relative;
    color: black;
    // text-align: center;
    padding-left: 5px;
    // background-image: url(../../assets/bgTournamentName.png);
    background-color: var(--main-panel-color);
}

.tournament_container .tournamentinfo {
    padding-bottom:15px;
    bottom: 820px;
    left: 637.5px;
    height: 10px;
    position: relative;
	background-color: var(--main-panel-color);
    // background-image: url(../../assets/bgTournamentInfo.png);
    color: black;
    text-align: end;
    padding-right: 5px;
}



.tournament_container.hide {
    opacity: 0;
}