.tournament_container {
    position: absolute;
    left: 322px;
    color: white;
    width: 440px;
    top: 836px;
    opacity:1;
    transition: opacity 1s;
    font-size: 14pt;
    font-family: "bignoodletitling";
}

.tournament_container .content {
    padding-bottom:15px;
    bottom: 820px;
    left: 417.5px;
    height: 10px;
    position: relative;
	background-color: var(--main-panel-color);
    color: white;
    text-align: center;
}

.tournament_container.hide {
    opacity:0;
}